@using PSICAP2.Areas.Seguranca.Models
@model PapelDetailsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete de Papel";
}

@using (Html.BeginForm("Delete", "PapelAdmin", FormMethod.Post,
                new { @id = "delete-form", role = "form" }))
{
@Html.AntiForgeryToken()

<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes do Papel a ser removido
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Model.Nome
        </div>
    </div>
    <div class="panel-footer panel-info">
       <input type="submit" value="Excluir" class="btn btn-danger"/>
        @Html.ActionLink("Retornar para a listagem", "Index", null,
          new { @class = "btn btn-info" })
    </div>
</div>
}

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liUsuarios').addClass("active");
        });
    </script>
}